{% extends "base.html" %}
{% block content %}	
<center>
	<form name="auth" id="auth" action="login.py" class="form-horizontal" method="post">
		{{error_log}}
		{{error}}
		{{db_create}}
		<br>
		<label for="login">&#x7528;&#x6237;&#x540d;: </label><input type="text" name="login" id="login"  required class="form-control"><br /><br />
		<label for="&#x5bc6;&#x7801;">: </label><input type="password" name="pass" id="pass" required class="form-control"><br /><br />
		<input type="hidden" value="{{reff}}" name="ref" id="ref">
		<button type="submit" name="Login" value="Enter">登录</button>
	</form>
</center>
<div id="dialog-confirm" title="&#x6b22;&#x8fce;&#x4f7f;&#x7528;" style="display: none;">
	<center>
		<div id="dialog-confirm-body">&#x6b22;&#x8fce;&#x4f7f;&#x7528;
			
			
		</div>
	</center>
</div>
{% endblock %}
