{% extends "base.html" %}
{% block content %}	
<script src="/inc/users.js"></script>
<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn" style="width: 10%;">
			{% if onclick == 'viewLogs()' %}
				&#26085;&#24535;
			{% else %}
				&#26381;&#21153;&#22120;
			{% endif %}
		</td>
		{% if onclick != 'viewLogs()' %}
		<td style="width: 5%;">WAF &#26085;&#24535;</td>
		{% endif %}
		<td style="width: 10%;">&#27599;&#39029;&#26174;&#31034;&#34892;&#25968;</td>
		<td class="padding10" style="width: 10%;">&#31579;&#36873;&#26465;&#20214;&#65288;&#27491;&#21017;&#34920;&#36798;&#24335;&#65289;</td>
		<td style="width: 10%;">
			<label for="time_range_out_hour" style="padding: 0">&#26102;&#38388;&#33539;&#22260;:</label>
			<input type="text" id="time_range_out_hour" readonly class="time-range">:<input type="text" id="time_range_out_minut" readonly class="time-range"> -
			<input type="text" id="time_range_out_hour1" readonly class="time-range">:<input type="text" id="time_range_out_minut1" readonly class="time-range">	
		</td>
		<td style="width: 10%;"> </td>
	</tr>
	<tr>
		<td class="padding10 first-collumn" style="width: 10%;">
			<form action="" method="get">
				<select autofocus required name="serv" id="{{ select_id }}">					
					{% if onclick == 'viewLogs()' %}
						<option disabled selected>&#36873;&#25321;&#26085;&#24535;</option>
						{% for select in selects %}
							{% if select.2 == serv %}
								<option value="{{ select.0 }}" selected>{{ select.1 }}</option>
							{% else %}
								<option value="{{ select.0 }}">{{ select.1 }}</option>
							{% endif %}
						{% endfor %}
					{% else %}
						<option disabled selected>&#36873;&#25321;&#26381;&#21153;&#22120;</option>
						{% for select in selects %}						
							{% if select.2 == serv %}
								<option value="{{ select.2 }}" selected>{{ select.1 }}</option>
							{% else %}
								<option value="{{ select.2 }}">{{ select.1 }}</option>
							{% endif %}
						{% endfor %}
					{% endif %}
				</select>
		</td>
		{% if onclick != 'viewLogs()' %}
		<td>
			<label for="waf"></label><input type="checkbox" id="waf"> 
		</td>
		{% endif %}
		<td class="padding10" style="width: 10%;">
			<input type="number" name="rows" id="rows" value="{{ rows }}" class="form-control" required>
		</td> 
		<td class="padding10" style="width: 10%;">
			<input type="text" name="grep" id="grep" class="form-control" value="{{ grep }}" >
		</td>
		<td class="padding10" style="width: 10%;">
			<div id="time-range"></div>			
		</td>			
		<td class="padding10 first-collumn" style="width: 10%;">
			<a class="ui-button ui-widget ui-corner-all" id="show" title="&#26174;&#31034;&#26085;&#24535;&#20449;&#24687;" onclick="{{ onclick }}">&#26174;&#31034;</a>
			</form>
		</td>
	</tr>
</table>
<div id="ajax">
</div>
{% endblock %}