{% extends "base.html" %}
{% block content %}	
<script>
	$("#secIntervals").css("display", "none");
</script>
{% if role <= 1 %}
	<table class="overview">
		<tr class="overviewHead">
			<td class="padding10 first-collumn">&#30331;&#24405;&#29992;&#25143;</td>
			<td class="padding10 second-collumn">Email</td>
			<td class="second-collumn">&#32452;</td>
			<td>&#35282;&#33394;</td>
			<td class="padding10">
				<span class="add-button">
					<a title="&#26174;&#31034;&#20840;&#37096;&#29992;&#25143;" id="show-all-users" style="color: #fff">
						&#20840;&#37096;&#26174;&#31034;
					</a>
				</span>
			</td>
		</tr>		
		{% set counter = 0 -%}
		{% for USER in users %}
			{% set counter = counter + loop.index0 %}
			{% if counter <= 2 %}
				<tr class="{{ loop.cycle('odd', 'even') }}">
					<td class="padding10 first-collumn"> {{ USER.1 }}</td>
					<td class="padding10 second-collumn"> {{ USER.2 }}</td>
					{% for group in groups %}
						{% if USER.5 == group.0|string() %}
							<td class="third-collumn">{{ group.1 }}</td>
						{% endif %}
					{% endfor %}
					<td>{{ USER.4 }}</td>
					<td></td>
				</tr>
			{% else %}
				<tr style="display: none;" class="show-users {{ loop.cycle('odd', 'even') }}">
					<td class="padding10 first-collumn"> {{ USER.1 }}</td>
					<td class="padding10"> {{ USER.2 }}</td>
					{% for group in groups %}
						{% if group.0|string() == USER.5 %}
							<td class="third-collumn">{{ group.1 }}</td>
						{% endif %}
					{% endfor %}
					<td>{{ USER.4 }}</td>
					<td></td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
	<table class="overview">
	<tr class="overviewHead">	
		<th class="padding10 first-collumn" colspan=4>
			&#29366;&#24577;&#20449;&#24687;
		</th>
	</tr>
	
	<tr>
		<td class="padding10 first-collumn">
		{% if metrics_master|int() >= 1 %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{ metrics_master }} &#20010;&#20027;&#36827;&#31243;"><span class="serverUp">&#27491;&#22312;&#36816;&#34892;</span> &#20027;&#36827;&#31243;&#24230;&#37327;</span>
		{% else %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{ metrics_master }} &#20010;&#20027;&#36827;&#31243;"><span class="serverDown">&#24050;&#20572;&#27490;</span> &#27491;&#22312;&#36816;&#34892; {{metrics_master }} &#20010;&#20027;&#36827;&#31243;
		{% endif %}
		</td>
		<td class="padding10 second-collumn">
		{% if metrics_worker|int() >= 1 %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{metrics_worker}} &#20010;&#24037;&#20316;&#36827;&#31243;"><span class="serverUp">&#27491;&#22312;&#36816;&#34892;</span> &#24037;&#20316;&#36827;&#31243;&#24230;&#37327;</span>
		{% else %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{metrics_worker}} &#20010;&#24037;&#20316;&#36827;&#31243;"><span class="serverDown">&#24050;&#20572;&#27490;</span> &#24037;&#20316;&#36827;&#31243;&#24230;&#37327;</span>
		{% endif %}
		</td>
		<td class="third-collumn">
		{% if checker_master|int() >= 1 %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{ checker_master }} &#20010;&#20027;&#36827;&#31243;"><span class="serverUp">&#27491;&#22312;&#36816;&#34892;</span> &#20027;&#36827;&#31243;&#26816;&#26597;&#22120;</span>
		{% else %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{ checker_master }} &#20010;&#20027;&#36827;&#31243;"><span class="serverDown">&#24050;&#20572;&#27490;</span> &#20027;&#36827;&#31243;&#26816;&#26597;&#22120;</span>
		{% endif %}
		</td>
		<td>
		{% if checker_worker|int() >= 1 %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{ checker_worker }} &#20010;&#24037;&#20316;&#36827;&#31243;"><span class="serverUp">&#27491;&#22312;&#36816;&#34892;</span> &#24037;&#20316;&#36827;&#31243;&#26816;&#26597;&#22120;</span>
		{% else %}
			<span title="&#27491;&#22312;&#36816;&#34892; {{ checker_worker }} &#20010;&#24037;&#20316;&#36827;&#31243;"><span class="serverDown">&#24050;&#20572;&#27490;</span> &#24037;&#20316;&#36827;&#31243;&#26816;&#26597;&#22120;</span>
		{% endif %}
		</td>
	</tr>
</table>
{% endif %}
<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			&#26381;&#21153;&#22120;
		</td class="padding10 second-collumn">
		<td class="padding10 second-collumn">
			HAproxy &#29366;&#24577;
		</td>
		<td class="padding10  third-collumn">
			&#27963;&#21160;
		</td>
		<td class="padding10">
			&#26368;&#21518;&#19968;&#27425;&#20462;&#25913;
		</td  class="padding10">
		<td>
			<a onclick="showOverview()" title="Refresh" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxstatus"></tbody>

<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			&#26381;&#21153;&#22120;
		</td class="padding10 second-collumn">
		<td class="padding10 second-collumn">
			WAF &#29366;&#24577;
		</td>
		<td class="padding10  third-collumn">
			&#27963;&#21160;
		</td>
		<td class="padding10">
			WAF &#27169;&#24335;
		</td  class="padding10">
		<td>
			<a onclick="showOverviewWaf()" title="Refresh" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxwafstatus"></tbody>	
</table>
<table class="overview" >
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			&#26381;&#21153;&#22120;
		</td>
		<td class="padding10 second-collumn">
			HAproxy &#20449;&#24687;
		</td>
		<td  class="padding10 third-collumn">
			&#26381;&#21153;&#22120;&#29366;&#24577;
		</td>
		<td class="padding10">
			&#21069; &#47; &#21518;&#31471;
		</td>
		<td>
			<a onclick="showOverviewServers()" title="Refresh Server Info" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxservers"></tbody>
</table>
<div id="dialog-confirm" style="display: none;">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:3px 12px 20px 0;"></span>&#30830;&#35748; ?</p>
</div>
<script>
	window.onload = showOverview()
</script>

{% endblock %}