{% extends "base.html" %}
{% block content %}
	<table class="overview">
		<tr class="overviewHead">
			<td class="padding10 first-collumn">&#26381;&#21153;&#22120;</td>
			<td>&#21551;&#29992;&#32;&#47;&#32;&#31105;&#29992;&#26381;&#21153;&#22120;&#25110;&#32773;&#36755;&#20986;&#20449;&#24687;</td>
			<td class="padding10">&#21629;&#20196;</td>
			<td>&#20445;&#23384;&#26356;&#25913;</td>
			<td></td>
		</tr>
		<tr>
			<td class="padding10 first-collumn" style="width: 25%;">
				<form action="{{ action }}" method="get">
					<select autofocus required id="{{ select_id }}" name="{{ select_id }}">
						<option disabled>&#36873;&#25321;&#26381;&#21153;&#22120;</option>
						{% for select in selects %}
							{% if serv == select.2 %}
								<option value="{{ select.2 }}" selected>{{ select.1 }}</option>
							{% else %}
								<option value="{{ select.2 }}">{{ select.1 }}</option>
							{% endif %}
						{% endfor %}
					</select>
			</td>
			<td style="width: 30%;">
				<select required name="servaction" id="servaction">
					<option disabled>&#36873;&#25321;</option>
					{% if role <= 2 %}
						<option value="disable">&#31105;&#29992;</option>
						<option value="enable">&#21551;&#29992;</option>
						<option value="set">&#21407;&#35774;&#32622;</option>
					{% endif %}
					<option value="show" selected>&#26174;&#31034;</option>
				</select>
			</td>
			<td>
				<input type="text" name="servbackend" id="servbackend" size=35 title="Frontend, backend/server, show: info, pools or help" required class="form-control" value="{{ servbackend }}">
			</td>
			<td>
				{% if role <= 2 %}
					<label for="save"></label><input type="checkbox" name="save" id="save" value="123">
				{% endif %}
			</td>
			<td>
				<a class="ui-button ui-widget ui-corner-all" id="show" title="&#25191;&#34892;" onclick="{{ onclick }}">&#25191;&#34892;</a>
			</td>
				</form>
		</tr>
	</table>
	<script>
		if($('#servbackend').val()) {
			window.onload = {{ onclick }}	
		}
	</script>
{% endblock %}