{% extends "base.html" %}
{% block content %}	
<table class="overview">
	<tr class="overviewHead">
		<td class="padding10 first-collumn">
			&#26381;&#21153;&#22120;
		</td class="padding10 second-collumn">
		<td class="padding10 second-collumn">
			WAF &#29366;&#24577;
		</td>
		<td class="padding10">
			&#34892;&#20026;
		</td>
		<td class="padding10">
			WAF &#27169;&#24335;
		</td  class="padding10">
		<td>
			&#24230;&#37327;&#20449;&#24687;
		</td>
		<td>
			<a onclick="showOverviewWaf()" title="Refresh" style="float: right; margin-right: 25px;"><img  src="/image/pic/update.png" alt="restart" class="icon"></a>
		</td>
	</tr>
<tbody id="ajaxwafstatus"></tbody>	
</table>
<div id="ajax"></div>
<style>
iframe {
	border: none;
	padding: 10px;
	}
</style>

<div id="metrics_iframe"></div>
<script>
showOverviewWaf()
function callIframe(url, callback) {
	$('#metrics_iframe').html('<iframe id="metrics" style="width:100%;height:100%;" />');
	$('iframe#metrics').attr('src', url);
	$('iframe#metrics').load(function() {
		callback(this);
	});
}
function loadMetrics() {
	callIframe('templates/metric_waf.html', function(){
		$.get( "options.py?waf_metrics=1&token="+$('#token').val(), function( data ) {
			$( ".result" ).html( data );
		});
	});
}

loadMetrics()
</script>
{% endblock %}